*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Baloo Thambi 2', cursive;
    color: #b3b3b3;
    font-size: 18px;
}
a {
    text-decoration: none;
    color: #b3b3b3;

}
a:hover {
    color: white;
    /**color: #1DB954**/
}
i {
    margin-right: 5px;
}
aside {
    background-color: black;
    width: 200px;
    height: 100%;
    padding: 20px;

}
.logo {
    margin-bottom: 20px;
}
.logo img {
    max-width: 100%;
    height: auto;
}
.menu-verticale li {
    font-weight: 600;
}
.menu-verticale ul li {
    list-style-type: none;
}
.menu-verticale .fa-heart {
    color: #a862ea;
}
h4 {
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 20px;
    font-weight: 300;
}
.separatore {
    background-color: #b3b3b3;
    height: 1px;
    width: calc(100% - 40px);
    margin-top: 10px;
    margin-bottom: 10px;
}
.aside-footer {
    height: 100px;
    font-weight: 600;
}

main {
    display: flex;
    height: calc(100vh - 100px);
}
.gallery {
    width: calc(100vw - 200px);
    height: calc(100vh - 100px);
    background-color: #333333;
    overflow-y: auto;
}
.menu-orizzontale {
    text-align: center;
    text-transform: uppercase;
}
.menu-orizzontale ul li {
    display: inline-block;
    text-decoration: none;
}
.container {
    width: 80%;
    margin: auto;
}
h1 {
    margin-bottom: 20px;
}

.copertine {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.copertina {
    background-color: lightgrey;
    height: 200px;
    width: 200px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 20px;
    text-align: center;
}
.copertina img {
    max-width: 100%;
    height: auto;
}
header {
    width: 100%;
    height: 50px;
}
header ul li a {
    margin: 15px;
}

footer {
    height: 100px;
    width: 100%;
    background-color: #333333;
    display: flex;
    border-top: 1px solid black;
    font-size: 14px;
}
.footer-left {
    height: 100%;
    width: 350px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;

}
.in-riproduzione {
    height: 70px;
    width: 70px;
    background-color: yellow;
    margin-right: 10px;
}

.in-riproduzione img {
    max-width: 100%;
    height: auto;
}
.footer-left .fa-heart  {
    margin-left: 10px;
}
.canzone a:hover {
    text-decoration: underline;

}
.fa-random, .fa-reply {
    color: LimeGreen;
}
.footer-center {
    height: 100%;
    width: calc(100% - 650px);

}
.icone-footer-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.separatore-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.separatore-flex .separatore {
    background-color: #b3b3b3;
    height: 3px;
    border-radius: 3px ;
    width: 60%;
    margin-right: 5px;
    margin-left: 5px;

}
.footer-right {
    height: 100%;
    width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}
.footer-right i {
    margin-right: 10px;
}
.footer-right .separatore {
    background-color: #b3b3b3;
    height: 3px;
    border-radius: 3px ;
    width: 50px;
    margin: 0;
}
