*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Baloo Thambi 2', cursive;
    color: #b3b3b3;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: #b3b3b3;
    font-size: 16px;
}
a:hover {
    color: white;
}
i {
    margin-right: 5px;
}
aside {
    background-color: black;
    width: 200px;
    height: 100%;
    padding: 10px;
}
.logo img {
    max-width: 100%;
    height: auto;
}
.menu-verticale .fa-heart {
    color: #c18ff0;

}
h4 {
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 20px;
}
.separatore {
    background-color: #b3b3b3;
    height: 1px;
    width:;
    margin-top: 20px;
    margin-bottom: 20px;
}
.aside-footer {
    height: 100px;
}

main {
    display: flex;
    height: calc(100vh - 100px);
}
.gallery {
    width: calc(100vw - 200px);
    height: calc(100vh - 100px);
    background-color: #333333;
    overflow-y: auto;
}
.menu-orizzontale {
    text-align: center;
    text-transform: uppercase;
}
.menu-orizzontale ul li {
    display: inline-block;
    text-decoration: none;
}
.container {
    width: 80%;

    margin: auto;

}
h1 {
    margin-bottom: 20px;
}
.copertine {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.copertina {
    background-color: lightgrey;
    height: 200px;
    width: 200px;
    margin-bottom: 30px;
    margin-right: 20px;
}
.copertina img {
    max-width: 100%;
    height: auto;
}
header {
    width: 100%;
    height: 50px;
}
header ul li a {
    margin: 10px;
}

footer {
    height: 100px;
    width: 100%;
    background-color: #333333;
    display: flex;
    border-top: 1px solid black;
}
.footer-left {
    height: 100%;
    width: 350px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}
.in-riproduzione {
    height: 70px;
    width: 70px;
    background-color: yellow;
    margin-right: 5px;
}
.in-riproduzione img {
    max-width: 100%;
    height: auto;
}
.fa-random, .fa-reply {
    color: LimeGreen;
}
.footer-center {
    height: 100%;
    width: calc(100% - 650px);

}
.icone-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}
.separatore-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.separatore-flex .separatore {
    background-color: #b3b3b3;
    height: 3px;
    border-radius: 3px ;
    width: 60%;
}

.footer-right {
    height: 100%;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}
.footer-right .separatore {
    background-color: #b3b3b3;
    height: 3px;
    border-radius: 3px ;
    width: 50px;
    margin: 0;
}
