*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
aside {
    background-color: pink;
    width: 200px;
    height: 800px;

}
main {
    display: flex;
}
.gallery {
    width: calc(100vw - 200px);
    height: 800px;
    background-color: yellow;

}
.menu-orizzontale ul li {
    display: inline-block;
    text-decoration: none;
}
.container {
    width: 900px;
    height: 800px;
    background-color: black;
    margin: auto;
}
.copertine {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.copertina {
    background-color: lightgrey;
    height: 200px;
    width: 200px;
    border: 1px solid black;
}
header {
    background-color: lightblue;
    width: 100%;
    height: 50px;
}
footer {
    height: 50px;
    width: 100%;
    background-color: orange;
    display: flex;
}
.footer-left {
    background-color: lightcoral;
    height: 100%;
    width: 100px;
}
.footer-center {
    background-color: green;
    height: 100%;
    width: calc(100% - 200px);
}
.footer-right {
    background-color: lightcoral;
    height: 100%;
    width: 100px;
}
