* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto Mono', monospace;
    color: #b3b3b3;
    background-color: black;
}
a {
    text-decoration: none;
    color: #b3b3b3;
    padding: 5px;
}
i {
    padding: 5px;
}
aside {
    width: 200px;
    height: calc(100vh - 100px);
}
.spotify-logo img {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
}
.vertical-menu {
    width: 100%;
    height: calc(100% - 150px);
}
.vertical-menu li {
    font-weight: 500;
}
h5 {
    text-transform: uppercase;
    margin-top: 20px;
    padding: 5px;
    font-weight: 300;
    color: #b3b3b3;
}

#aside-footer {
    width: 100%;
    height: 100px;

}
main {
    height: calc(100vh - 100px);
    display: flex;
}

.gallery {
    height: 100%;
    width: calc(100vw - 200px);
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    overflow-y: auto;
}

.playlist {
    width: 150px;
    height: 150px;
    background-color: CadetBlue;
    border: 1px solid black;
    margin-right: 10px;
    margin-bottom: 10px;
}
footer {
    height: 100px;
    display: flex;
}
.footer-left {
    height: 100%;
    width: 200px;
    background-color: lightcoral;
}
.footer-center {
    height: 100%;
    width: calc(100vw - 350px);
    background-color: lightgreen;
}
.footer-right {
    height: 100%;
    width: 150px;
    background-color: lightblue;
}
