*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Baloo Thambi 2', cursive;
    color: #b3b3b3;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: #b3b3b3;
    font-size: 16px;
}
a:hover {
    color: white;
}
i {
    margin-right: 5px;
}
aside {
    background-color: black;
    width: 200px;
    height: 100%;
    padding: 10px;
}
.logo img {
    max-width: 100%;
    height: auto;
}
h4 {
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 20px;
}
.separatore {
    background-color: #b3b3b3;
    height: 1px;
    width:;
    margin-top: 20px;
    margin-bottom: 20px;
}
.aside-footer {
    height: 100px;
}

main {
    display: flex;
    height: calc(100vh - 50px);
}
.gallery {
    width: calc(100vw - 200px);
    height: calc(100vh - 50px);
    background-color: yellow;
    overflow-y: auto;
}
.menu-orizzontale {
    text-align: center;
    text-transform: uppercase;
}
.menu-orizzontale ul li {
    display: inline-block;
    text-decoration: none;
}
.container {
    width: 80%;
    background-color: black;
    margin: auto;

}
.copertine {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.copertina {
    background-color: lightgrey;
    height: 200px;
    width: 200px;
    border: 1px solid black;
}
header {
    width: 100%;
    height: 50px;
}

footer {
    height: 50px;
    width: 100%;
    background-color: orange;
    display: flex;
}
.footer-left {
    background-color: lightcoral;
    height: 100%;
    width: 150px;
}
.footer-center {
    background-color: green;
    height: 100%;
    width: calc(100% - 300px);
}
.footer-right {
    background-color: lightcoral;
    height: 100%;
    width: 150px;
}
