* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto Mono', monospace;
    color: #b3b3b3;
    font-size: 14px;
    background-color: #333333;
}
a {
    text-decoration: none;
    color: #b3b3b3;

}
a:hover {
    color: white;
}
i {
    margin-right: 8px;
    margin-bottom: 8px;
}

aside {
    width: 200px;
    height: calc(100vh - 100px);
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;

}
.spotify-logo img {
    padding: 10px;
    max-width: 100%;
    height: auto;
}
.vertical-menu {
    width: 100%;
    height: calc(100% - 150px);
}
.vertical-menu li {
    font-weight: 500;
}
.fa-heart {
    color: #c18ff0;
}
h5 {
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 5px;
    font-weight: 300;
    color: #b3b3b3;
}
.separatore {
    background-color: #b3b3b3;
    height: 1px;
    width: calc(100% - 10px);
    margin: 10px 5px;
}
#aside-footer {
    width: 100%;
    height: 100px;
}
main {
    height: calc(100vh - 100px);
    display: flex;
}
.container {
    height: calc(100vh - 100px);
    /**width: calc(100vw - 200px);**/
    margin: auto;
    background-color: #333333;
    overflow-y: auto;
}
h1 {
    margin-bottom: 20px;
}
header {
    height: 50px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
header ul li {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 300;
}
#li-bianco {
    color: white;
    font-weight: 400;
}
.gallery {

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.cover {
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 10px;

}
.cover img {

}
footer {
    height: 100px;
    display: flex;
    border-top: 1px solid black;
}
.footer-left {
    height: 100%;
    width: 400px;
    background-color: lightcoral;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.footer-center {
    height: 100%;
    width: calc(100vw - 800px);
    background-color: #333333;
    display: flex;
    justify-content: space-around;
}
.footer-center i {

}
.fa-random, .fa-reply {
    color: LimeGreen;
}
.footer-right {
    height: 100%;
    width: 400px;
    background-color: #333333;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}
.footer-right .separatore {
    background-color: #b3b3b3;
    height: 3px;
    border-radius: 3px ;
    width: 50px;
    margin: 0;
}
